{% extends 'dummy.html' %}
{% block title %}
    <title>forgetpassword</title>
    {% endblock %}
        {% block body_block %}
        <center>
            
        <form action="" method="POST">
            {% csrf_token %}
            <br><br>
            <label for="un">Username</label>
            <input type="text" name="un" id="un"><br><br>
            <label for="pw">Newpassword</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="updatepassword">
        </form>

    </center>

    {% endblock %}