{% extends 'dummy.html' %}
{% block title %}
<title>Login</title>
{% endblock %}

{% block body_block %}
<center>
    <br><br>
    <form action="" method="POST">login process<br><br>
        {% csrf_token %}

<label for="Username">Username</label>
<input type="text" name="Username" id="Username"><br><br>
<label for="Password">Password</label>
<input type="password" name="Password" id="Password"><br><br>

<input type="submit" value="Login" class="btn btn-success">
</form>
<a href="{% url 'forgetpassword' %}">Forget password</a>
{% endblock %}